{% extends "base.html" %}
{% block content %}

<h2>{{ report.title }}</h2>

<p><strong>Road:</strong> {{ report.road_name }}</p>
<p><strong>City:</strong> {{ report.city }}</p>
<p><strong>Description:</strong> {{ report.description }}</p>
<p><strong>Status:</strong> {{ report.status }}</p>
<p><strong>Report Verified:</strong> {{ report.verified }}</p>
<p><strong>Account Verified:</strong> {{ user.profile.is_verified }}</p>


<p><strong>Confirmations:</strong> {{ confirmation_count }}</p>

{% if report.owner != user %}
    {% if not already_confirmed %}
        <a href="{% url 'report-confirm' report.id %}">Confirm</a>
    {% else %}
        <a href="{% url 'report-unconfirm' report.id %}">Unconfirm</a>
    {% endif %}
{% else %}
    <p>You cannot confirm your own report.</p>
{% endif %}

<hr>

<h3>Comments</h3>

{% for comment in report.comments.all %}
  <div style="margin-bottom: 10px;">
    <p>
      <strong>{{ comment.owner.username }}:</strong> {{ comment.text }}
    </p>

    {% if comment.owner == user %}
      <form method="post" action="{% url 'comment-delete' comment.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Delete</button>
      </form>
    {% endif %}
  </div>
{% empty %}
  <p>No comments yet.</p>
{% endfor %}


<hr>

<form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Add Comment</button>
</form>

{% endblock %}
